<div class="div-navbar">
  <h5 class="h5-profile">My profile</h5>
  <div class="div-menu-options">
    <ul>
      <li a="#home">HOME</li>
      <li a="#home">ABOUT</li>
      <li a="#home">SKILLS</li>
      <li a="#home">EXPERIENCE</li>
      <li a="#home">PORTFOLIO</li>
      <li a="#home">CONTATO</li>
    </ul>
  </div>
</div>
<div class="div-header-img">
  <h1 class="h3-title">UX/UI Designer & Web Developer</h1>
</div>
<div class="div-text">
  <h6 class="h6-text">Creating responsive websites, design interfaces for applications and projects</h6>
  <p> Keeping simple programming and design with Ruby on Rails </p>
</div>
