@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.div-navbar {
  width: 100%;
  height: 5em;
  background-color: #fd9f91;
  border-style: solid;
  border-width: thin;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-color: #000;
}

.h5-profile {
  font-family: 'Pacifico';
  font-size: 25px;
  color: #fff;
  cursor: default;
  position: absolute;
  margin-top: 0.9rem;
  margin-left: 0.4rem;
}

.div-menu-options {
  background-color: transparent;
  float: right;
  margin-right: 5rem;
  margin-top: 0.9rem;
  height: 52px;
}

ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  background-color: white(0, 0, 0);
}

li {
  float: left;
  padding-left: 16px;
  color: #fff;
  font-size: 15px;
  margin-top: 0.9rem;
  cursor: pointer;
  font-weight: bolder;
}

.div-header-img {
    background-color: black;
    width: 100%;
    height: 30.5em;
}

.h3-title {
  color: #fff;
  position: absolute;
  margin-top: 4.5rem;
  margin-left: 5.5rem;
  font-size: 28px;
  font-family: roboto;
  cursor: default;
  z-index: 1px;
}

.img {
  position: absolute;
  height: 520px;
  width: 100%;
  z-index: -1px;
}
