@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');


.div-navbar {
  width: 100%;
  height: 5em;
  background-color: #fd9f91;
  border-style: solid;
  border-width: thin;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-color: #000;
}

.h5-profile {
  font-family: 'Pacifico';
  font-size: 25px;
  color: #fff;
  cursor: default;
  position: absolute;
  margin-top: 0.9rem;
  margin-left: 0.4rem;
}

.div-menu-options {
  background-color: transparent;
  float: right;
  margin-right: 5rem;
  margin-top: 0.9rem;
  height: 52px;
}

ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  background-color: white(0, 0, 0);
}

li {
  float: left;
  padding-left: 16px;
  color: #fff;
  font-size: 15px;
  margin-top: 0.9rem;
  cursor: pointer;
  font-weight: bolder;
}

.div-header-img {
    background-color: #000;
    width: 100%;
    height: 30.5em;
}

.h3-title {
  color: #fff;
  position: absolute;
  margin-top: 4.5rem;
  margin-left: 5.5rem;
  font-size: 28px;
  font-family: roboto;
  cursor: default;
  z-index: 1px;
}

.img {
  position: absolute;
  height: 460px;
  width: 100%;
  z-index: -1px;
}

.div-text {
  background-color: transparent;
  height: 3.5em;
}

.parlex-back {
  text-align: center;
  margin-top: 1.5rem;
  cursor: default;
  font-family: roboto;
}

.icon-coffee {
  width: 2.5rem;
  height: 2.5rem;
  float: left;
  margin-left: 9.5rem;
  margin-top: -3rem;
}

.icon-coffee2 {
  width: 2.5rem;
  height: 2.5rem;
  float: right;
  margin-right: 9.5rem;
  margin-top: -3rem;
}

.div-bio-text {
  background-color: transparent;
  height: 12.5em;
  text-align: center;
}

.h5-bio-text {
  color: #000;
  font-family:  roboto;
  position: relative;
  font-size: 23px;
  margin-top: 1.8rem;
  cursor: default;
}

p {
  color: #444444;
  margin-top: 1.5rem;
  font-family: roboto;
  font-size: 18px;
  cursor: default;
}

#div-main-skills {
  background-color: #dae2d6;
  margin-top: 16rem;
  height: 700px;
  text-align: center;
}

.h2-main-title {
  padding-top: 2rem;
  cursor: default;
  font-size: 30px;
  font-family:  Helvetica;
}

.div-1st-skill {
  background-color: #ffffff;
  height: 200px;
  width: 360px;
  border-radius: 5px;
  margin-left: 5rem;
  margin-top: 3rem;
}

.icon-ruby {
  height: 60px;
  width: 60px;
  margin-top: 2rem;
}

.h5-ruby {
  position: absolute;
  margin-left: 7rem;
  font-family: Helvetica;
  font-size: 21px;
  cursor: default;
}

.div-gray-skill {
  background-color: #e3e9e0;
  height: 90px;
  width: 360px;
  box-shadow: 1;
  border-radius: 5px;
}

.p-1st-skill{
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  font-size: 16px;
}

.div-2st-skill {
  background-color: #ffffff;
  height: 200px;
  width: 360px;
  border-radius: 5px;
  margin-left: 30rem;
  margin-top: -12.5rem;
}

.icon-css {
  height: 60px;
  width: 60px;
  margin-top: 2rem;
}

.h5-css {
  position: absolute;
  margin-left: 8rem;
  font-family: Helvetica;
  font-size: 21px;
  cursor: default;
}

.div-gray-skill2 {
  background-color: #e3e9e0;
  height: 90px;
  width: 360px;
  box-shadow: 1;
  border-radius: 5px;
}

.p-2st-skill {
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  font-size: 16px;
}

.div-3rd-skill {
  background-color: #ffffff;
  height: 200px;
  width: 360px;
  border-radius: 5px;
  float: right;
  margin-top: -12.5rem;
  margin-right: 7rem;
}

.icon-JS {
  height: 60px;
  width: 60px;
  margin-top: 2rem;
}

.h5-js {
  position: absolute;
  margin-left: 8rem;
  font-family: Helvetica;
  font-size: 25px;
  cursor: default;
}

.div-gray-skill3 {
  background-color: #e3e9e0;
  height: 90px;
  width: 360px;
  box-shadow: 1;
  border-radius: 5px;
}

.p-3rd-skill {
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  font-size: 16px;
}

.div-4th-skill {
  background-color: #ffffff;
  height: 200px;
  width: 360px;
  border-radius: 5px;
  margin-left: 5rem;
  margin-top: 3rem;
}

.icon-git {
  height: 60px;
  width: 60px;
  margin-top: 2rem;
}

.h5-git {
  position: absolute;
  margin-left: 10.2rem;
  font-family: Helvetica;
  font-size: 21px;
  cursor: default;
}

.div-gray-skill4 {
background-color: #e3e9e0;
height: 90px;
width: 360px;
box-shadow: 1;
border-radius: 5px;
}

.p-4th-skill{
padding-top: 1.5rem;
margin-top: 1.5rem;
font-size: 16px;
}

.div-5th-skill {
  background-color: #ffffff;
  height: 200px;
  width: 360px;
  border-radius: 5px;
  margin-left: 30rem;
  margin-top: -12.5rem;
}

.icon-agile{
  height: 60px;
  width: 60px;
  margin-top: 2rem;
}

.h5-agile {
  position: absolute;
  margin-left: 10rem;
  font-family: Helvetica;
  font-size: 21px;
  cursor: default;
}

.div-gray-skill5 {
  background-color: #e3e9e0;
  height: 90px;
  width: 360px;
  box-shadow: 1;
  border-radius: 5px;
}

.p-5th-skill {
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  font-size: 16px;
}

.div-6th-skill {

  background-color: #ffffff;
  height: 200px;
  width: 360px;
  border-radius: 5px;
  float: right;
  margin-top: -12.5rem;
  margin-right: 7rem;
}

.icon-sql {
  height: 60px;
  width: 60px;
  margin-top: 2rem;
}

.h5-sql {
  position: absolute;
  margin-left: 7rem;
  font-family: Helvetica;
  font-size: 21px;
  cursor: default;
}

.div-gray-skill6 {
  background-color: #e3e9e0;
  height: 90px;
  width: 360px;
  box-shadow: 1;
  border-radius: 5px;
}

.p-6th-skill {
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  font-size: 16px;
}

#div-skillset {
  background-color: #fff;
  height: 420px;
  width: 100%;
}

.h4-title-skills {
  margin-top: 2rem;
  margin-left: 40rem;
  cursor: default;
}

.p-habilidades {
  margin-left: 28.5rem;
  cursor: default;
}

.div-skill-block {
  background-color: #fff;
  height: 360px;
}

h6 {
  margin-left: 20rem;
  padding-top: 2rem;
  cursor: default;
}

#html-bar {
  width: 40%;
  margin-left: 28rem;
  margin-top: -1.5rem;
}

#js-bar {
  width: 40%;
  margin-left: 28rem;
  margin-top: -1.5rem;
}

#ruby-bar {
  width: 40%;
  margin-left: 28rem;
  margin-top: -1.5rem;
}

#sql-bar {
  width: 40%;
  margin-left: 28rem;
  margin-top: -1.5rem;
}

#english-bar {
  width: 40%;
  margin-left: 28rem;
  margin-top: -1.5rem;
}

#div-experience {
  background-color: #d1dbcc;
  width: 100%;
  height: 720px;
  margin-top: 10rem;
  text-align: center;
}

.h3-experience {
  padding-top: 3rem;
  cursor: default;
}
